@import '~@fluentui/react/dist/sass/References.scss';

.mensaPlan {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container{
  width: 41.5rem;
  height: 25.49119rem;
  border-radius: 0.435rem;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-top-left-radius: 0.435rem;
  border-top-right-radius: 0.435rem;
}

.mensaLocationFlex{
  display: flex;
  width: 100%;
  height: 21.5%;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
  background: #115740;
  border-top-left-radius: 0.435rem;
  border-top-right-radius: 0.435rem;
}

.mensaLocationContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  margin-left: 1.5rem;
}

.mensaLocationName {
  color: #FFF;
  font-size: 1.4rem;
  font-weight: 600;
  margin-left: 1rem;
}

.mensaDateFlex {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 11%;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
  background: #eff8f6;
}

#date1, #date2, #date3 {
  display: flex;
  flex: 1;
  height: 100%;
  color: #115740;
  font-size: .8rem;
  font-weight: 600;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.selectedDate {
  background: #ffffff;
  color: #000000 !important;	
  border-top-right-radius: 1.25rem;
  box-shadow: 1.3919156789779663px -2.7838313579559326px 3.2659475803375244px rgba(0, 0, 0, 0.10);
}

.mensaMenuFlex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 66.66%;
  width: 100%;
}

#veggieMenuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:50%;
  
}

#herzhaftMenuContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width:50%;
}

.menuTitle {
  color: #0D1C0D;
  font-size: 21.21;
  font-weight: 700;
  word-wrap: break-word;
  margin-top: 2rem;
  margin-left: 1.8rem;
  font-size: 1.1rem;
}

.menuTime {
  color: #0D1C0D;
  font-size: 19.28;
  font-weight: 300;
  word-wrap: break-word;
  margin-left: 1.8rem;
  font-size: 1rem;
}

.menuItems {
  display: flex;
  flex-direction: column;
  height: 45%;
  border: #D1E8D1 1px solid;
  margin-top: 1.2rem;
  margin-left: 1.8rem;
  width: 70%;
  border-radius:0.2rem;
  padding: 0.96413rem;
  
}

.menuItem{
  color: #0D1C0D;
  font-size: 0.78rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.20519rem; /* 125% */
}

.menuPrice{
  color: #115740;
  font-feature-settings: 'dlig' on;
  font-size: 1.34625rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.26544rem; /* 87.5% */
  align-self: flex-end;
  margin-top: 1.5rem;
}





.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}